/* Imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');

/* Variables */
:root {
    --main-font-color: #333;
    --secondary-font-color: #444;
    --main-bg-color: #ffffff;
    --main-font-size: 18px;
    --heading-font-size: 36px;
    --secondary-font-size: 22px;
    --tick-font-size: 14px;
    --main-margin: 25px;
    --main-padding: 25px;
}

/* Basic Resets and global styles */
body {
    background-color: var(--main-bg-color);
    font-family: 'Inter', sans-serif;
    color: var(--main-font-color);
    margin: 0;
    padding: 0;
    font-size: var(--main-font-size);
    line-height: 28px;
}

/* Headers */
h1 {
    text-align: center;
    font-size: var(--heading-font-size);
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 150px;
}

/* Article Styles */
article {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: var(--main-margin);
    max-width: 1400px;
    margin: 0 auto;
    padding: var(--main-padding);
    background-color: var(--main-bg-color);
    border-radius: 8px;
}

.text-content {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    /* Justify the text alignment */

}

.chart {
    grid-column: 1 / -1;
    margin: var(--main-margin) 10;
}

.author {
    font-size: var(--secondary-font-size);
    text-align: center;
    margin-bottom: var(--main-margin);
    font-weight: 400;
    color: var(--secondary-font-color);
    font-style: italic;
}

.date {
    position: absolute;
    top: var(--main-padding);
    right: var(--main-padding);
    font-size: var(--secondary-font-size);
    color: var(--secondary-font-color);
}